{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />

  
  </head>

  <body>
    {{!-- <style>
      stule="display: block;
      white-space: pre"
      contenteditable="">
      *{
        font-size: 18px;
        transition: .3s all;
        background: red;
        color: white
      } --}}
    </style>
    {{#with header}}
    <header>
      <div>
        <h1>{{name.firstname}} {{name.lastname}}</h1>
      </div>
      <div>
        <b>{{position}}</b>
      </div>
      <br />
      <div>
        <em>{{sallary}}</em>
      </div>
      <br>
    <div>
      <em>{{address}}</em>
    </div>
     <hr>
    </header>
    {{/with}}

    {{> nav}}
    
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}


    {{>footer}}
  </body>

</html>